body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to right, #e1bee7, #f3e5f5);
}

/* Cards */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 200px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.status-card {
  border: 3px solid purple;
}

.nav-btn {
  margin: 20px;
  padding: 10px 20px;
  background: purple;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Buttons */
.buttons button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background: purple;
  color: white;
  border: none;
}

/* Graph */
#graphArea {
  margin: 20px;
}

/* Value */
#valueArea {
  margin: 20px;
  padding: 10px;
  background: #f3e5f5;
  border-radius: 10px;
}

/* Suggestion */
#suggestionArea {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* Animation */
.fade-in {
  animation: fade 0.5s;
}

@keyframes fade {
  from {opacity:0;}
  to {opacity:1;}
}



